#app {
	padding: 10px;
	box-sizing: border-box;
}

.topic {
	font-size: 16px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.85);
}

.Anchor_charts {
	width: 1190px;
	padding: 10px;
	box-sizing: border-box;
}
.Anchor_charts #Anchor{
	width: 100%;
	height: 265px;
}
.Anchor_charts header {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

.Anchor_charts .Data_picker {
	display: flex;
	align-items: center;
}

.Anchor_charts .Data_picker .time {
	font-size: 14px;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
}